@charset "utf-8";


/* 코펍월드 바탕 */
@font-face {
font-family: "KoBatang";
font-weight: 500;
font-style: normal;
src: url('../ft-box/1ftgb/KoPubWorldBatangM.woff2') format('woff2'); }

@font-face {
font-family: "KoBatangB";
font-weight: 700;
font-style: normal;
src: url('../ft-box/1ftgb/KoPubWorldBatangB.woff2') format('woff2'); }

/* 2. 코펍월드 돋움 */
@font-face {
font-family: "KoDotum300";
font-weight: 300;
font-style: normal;
src: url('../ft-box/1ftgb/KoPubWorldDotumL.woff2') format('woff2'); }

@font-face {
font-family: "KoDotum500";
font-weight: 500;
font-style: normal;
src: url('../ft-box/1ftgb/KoPubWorldDotumM.woff2') format('woff2'); }


/* 마루 부리 */
@font-face {
font-family: "MaruBuriR";
font-weight: 400;
font-style: normal;
src: url('../ft-box/1ftgb/MaruBuriR.woff2') format('woff2'); }

/* 리디바탕 */
@font-face {
font-family: "RIDIBatang";
font-weight: 400;
font-style: normal;
src: url('../ft-box/1ftgb/RIDIBatang.woff2') format('woff2'); }


/* 나눔바른고딕 */
@font-face {
font-family: "NanumBarunL";
font-weight: 300;
font-style: normal;
src: url('../ft-box/1ftgb/NanumBarunGothicL.woff2') format('woff2'); }

@font-face {
font-family: "NanumBarun";
font-weight: 400;
font-style: normal;
src: url('../ft-box/1ftgb/NanumBarunGothic.woff2') format('woff2'); }

@font-face {
font-family: "NanumBarunB";
font-weight: 700;
font-style: normal;
src: url('../ft-box/1ftgb/NanumBarunGothicB.woff2') format('woff2'); }


/* 나눔바른고딕 옛한글 */
@font-face {
font-family: "NanumBarunYH";
font-weight: 400;
font-style: normal;
src: url('../ft-box/1ftgb/NanumBarunGothic-YetHangul.woff2') format('woff2'); }


/* 나눔고딕 */
@font-face {
font-family: "NanumGothic";
font-weight: 400;
font-style: normal;
src: url('../ft-box/1ftgb/NanumGothic.woff2') format('woff2'); }

@font-face {
font-family: "NanumGothicB";
font-weight: 700;
font-style: normal;
src: url('../ft-box/1ftgb/NanumGothicB.woff2') format('woff2'); }


/* 나눔스퀘어 네오 */
@font-face {
font-family: "NanumSquareNeoR";
font-weight: 400;
font-style: normal;
src: url('../ft-box/1ftgb/NanumSquareNeoR.woff2') format('woff2'); }


/* 본고딕 */
@font-face {
font-family: "NotoSansKR300";
font-weight: 300;
font-style: normal;
src: url('../ft-box/1ftgb/NotoSansKR300.woff2') format('woff2'); }

@font-face {
font-family: "NotoSansKR400";
font-weight: 400;
font-style: normal;
src: url('../ft-box/1ftgb/NotoSansKR400.woff2') format('woff2'); }

@font-face {
font-family: "NotoSansKR500";
font-weight: 500;
font-style: normal;
src: url('../ft-box/1ftgb/NotoSansKR500.woff2') format('woff2'); }
