@charset "utf-8";


/* 김남윤체 */
@font-face {
font-family: "KimNamyun";
src: url('../ft-box/2hand/KimNamyun.woff2') format('woff2'); }


/* 나눔손글씨 배은혜체 */
@font-face {
font-family: "NanumBeeunhye";
src: url('../ft-box/2hand/NanumBeeunhye.woff2') format('woff2'); }

/* 나눔손글씨 잘하고있어 */
@font-face {
font-family: "NanumDoingwell";
src: url('../ft-box/2hand/NanumDoingwell.woff2') format('woff2'); }

/* 나눔손글씨 소방관의기도 */
@font-face {
font-family: "NanumFirefighter";
src: url('../ft-box/2hand/NanumFirefighter.woff2') format('woff2'); }

/* 나눔손글씨 고딕아니고고딩 */
@font-face {
font-family: "NanumGothicGoding";
src: url('../ft-box/2hand/NanumGothicGoding.woff2') format('woff2'); }

/* 나눔손글씨 외할머니글씨 */
@font-face {
font-family: "NanumGrandma";
src: url('../ft-box/2hand/NanumGrandma.woff2') format('woff2'); }

/* 나눔손글씨 손편지체 */
@font-face {
font-family: "NanumHandletter";
src: url('../ft-box/2hand/NanumHandletter.woff2') format('woff2'); }

/* 나눔손글씨 야근하는김주임 */
@font-face {
font-family: "NanumKimjuim";
src: url('../ft-box/2hand/NanumKimjuim.woff2') format('woff2'); }

/* 나눔손글씨 왼손잡이도예뻐 */
@font-face {
font-family: "NanumLefthanded";
src: url('../ft-box/2hand/NanumLefthanded.woff2') format('woff2'); }

/* 나눔손글씨 나무정원 */
@font-face {
font-family: "NanumTreegarden";
src: url('../ft-box/2hand/NanumTreegarden.woff2') format('woff2'); }

/* 나눔손글씨 엉겅퀴체 */
@font-face {
font-family: "NanumUnggungqui";
src: url('../ft-box/2hand/NanumUnggungqui.woff2') format('woff2'); }


/* 온글잎 무궁체 */
@font-face {
font-family: "OngleipMugung";
src: url('../ft-box/2hand/OngleipMugung.woff2') format('woff2'); }

/* 온글잎 안될과학약체 */
@font-face {
font-family: "OngleipScienceWeak";
src: url('../ft-box/2hand/OngleipScienceWeak.woff2') format('woff2'); }

/* 온글잎 윤우체 */
@font-face {
font-family: "OngleipYoonwoo";
src: url('../ft-box/2hand/OngleipYoonwoo.woff2') format('woff2'); }


/* 어비 똘영체 */
@font-face {
font-family: "UhBeeddolyoung";
src: url('../ft-box/2hand/UhBeeddolyoung.woff2') format('woff2'); }

/* 어비 또요체 */
@font-face {
font-family: "UhBeeDDOYO";
src: url('../ft-box/2hand/UhBeeDDOYO.woff2') format('woff2'); }

/* 어비 은디체 */
@font-face {
font-family: "UhBeeeunD";
src: url('../ft-box/2hand/UhBeeeunD.woff2') format('woff2'); }

/* 어비 뒤죽박죽체 */
@font-face {
font-family: "UhBeeGENWOO";
src: url('../ft-box/2hand/UhBeeGENWOO.woff2') format('woff2'); }

/* 어비 퀸제이체 */
@font-face {
font-family: "UhBeeQUEENJ";
src: url('../ft-box/2hand/UhBeeQUEENJ.woff2') format('woff2'); }

/* 어비 라미체 */
@font-face {
font-family: "UhBeeRami";
src: url('../ft-box/2hand/UhBeeRami.woff2') format('woff2'); }

/*윤초록우산어린이 대한*/
@font-face {
font-family: "YoonDaeHan"; /*윤초록우산어린이 대한*/
src: url('../ft-box/2hand/YoonDaeHan.woff2') format('woff2'); }
