/* Fontmoueum, css 전체 통합 */

@import url("goedam.css");
@import url("songeulssi.css");
@import url("godikbatang.css");



/*
===================
css  @import url 확인용
===================

@import url("https://ghtlt8460.github.io/namnomin102/css/fontmoueum.css");
css 통합 임포터

@import url("https://ghtlt8460.github.io/namnomin102/css/godikbatang.css");
@import url("https://ghtlt8460.github.io/namnomin102/css/songeulssi.css");
@import url("https://ghtlt8460.github.io/namnomin102/css/goedam.css");

*/
