/* 코펍 바탕 */
@font-face {
font-family: "KoPubBatang";
font-weight: 500;
font-style: normal;
src:url('ha1mini/KoPubBatang.woff2') format('woff2'); }

@font-face {
font-family: "KoPubBatangBold";
font-weight: 700;
font-style: normal;
src: url('ha1mini/KoPubBatangBold.woff2') format('woff2'); }


/* 나눔 바른 고딕 */
@font-face {
font-family: "NanumBarunGothic";
font-weight: 400;
font-style: normal;
src:url('ha1mini/NanumBarunGothic.woff2') format('woff2'); }

@font-face {
font-family: "NanumBarunGothicBold";
font-weight: 700;
font-style: normal;
src:url('ha1mini/NanumBarunGothicBold.woff2') format('woff2'); }

@font-face {
font-family: "NanumBarunGothicLight";
font-weight: 300;
font-style: normal;
src:url('ha1mini/NanumBarunGothicLight.woff2') format('woff2'); }


/* 나눔 바른 고딕 옛한글 */
@font-face {
font-family: "NanumBarunGothicYH";
font-weight: 400;
font-style: normal;
src:url('ha1mini/NanumBarunGothic-YetHangul.woff2') format('woff2'); }


/* 나눔 고딕 */
@font-face {
font-family: "NanumGothic";
font-weight: 400;
font-style: normal;
src:url('ha1mini/NanumGothic.woff2') format('woff2'); }

@font-face {
font-family: "NanumGothicBold";
font-weight: 700;
font-style: normal;
src:url('ha1mini/NanumGothicBold.woff2') format('woff2'); }
