/* 코펍 월드 바탕 */
@font-face {
font-family: "KoBatang";
font-weight: 500;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/KoPubWorldBatangMedium.woff2') format('woff2'); }

@font-face {
font-family: "KoBatangB";
font-weight: 700;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/KoPubWorldBatangBold.woff2') format('woff2'); }


/* 마루부리 */
@font-face {
font-family: "MaruBuriR";
font-weight: 400;
font-style: normal;
src: url('../Fontmoueum/Godikbatang/MaruBuriR.woff2') format('woff2'); }

/* 리디바탕 */
@font-face {
font-family: "RIDIBatang";
font-weight: 400;
font-style: normal;
src: url('../Fontmoueum/Godikbatang/RIDIBatang.woff2') format('woff2'); }


/* 나눔 바른 고딕 */
@font-face {
font-family: "NanumBarun";
font-weight: 400;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/NanumBarunGothic.woff2') format('woff2'); }

@font-face {
font-family: "NanumBarunL";
font-weight: 300;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/NanumBarunGothicLight.woff2') format('woff2'); }

@font-face {
font-family: "NanumBarunB";
font-weight: 700;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/NanumBarunGothicBold.woff2') format('woff2'); }


/* 나눔 바른 고딕 옛한글 */
@font-face {
font-family: "NanumBarunYH";
font-weight: 400;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/NanumBarunGothic-YetHangul.woff2') format('woff2'); }


/* 나눔 고딕 */
@font-face {
font-family: "NanumGothic";
font-weight: 400;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/NanumGothic.woff2') format('woff2'); }

@font-face {
font-family: "NanumGothicB";
font-weight: 700;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/NanumGothicBold.woff2') format('woff2'); }


/* 나눔 스퀘어 네오 고딕 */
@font-face {
font-family: "NanumSquareNeoR";
font-weight: 400;
font-style: normal;
src:url('../Fontmoueum/Godikbatang/NanumSquareNeoR.woff2') format('woff2'); }
