/* 괴담 폰트 모음*/

/* 배달의민족 꾸불림체 */
@font-face {
font-family: "BMKkubulimR";
src: url('../Fontmoueum/Goedam/BMKkubulimR.woff2') format('woff2'); }

/* 충주김생체 */
@font-face {
font-family: "ChungjuKimSaeng";
src: url('../Fontmoueum/Goedam/ChungjuKimSaeng.woff2') format('woff2'); }

/* 덕온공주옛체 */
@font-face {
font-family: "DeogonPrincess";
src: url('../Fontmoueum/Goedam/DeogonPrincess.woff2') format('woff2'); }

/* 산하엽 */
@font-face {
font-family: "Sanhayeop";
src: url('../Fontmoueum/Goedam/Sanhayeop.woff2') format('woff2'); }

/* 둥근모꼴 픽셀체 */
@font-face {
font-family: "DungGeunMo";
src: url('../Fontmoueum/Goedam/DungGeunMo.woff2') format('woff2'); }

/* 프리젠테이션 200 */
@font-face {
font-family: "Freesentation200";
font-weight: 200;
src: url('../Fontmoueum/Goedam/Freesentation200.woff2') format('woff2'); }

/* 가비아 고스란체 */
@font-face {
font-family: "GabiaGosranR";
src: url('../Fontmoueum/Goedam/GabiaGosranR.woff2') format('woff2'); }

/* 가비아 마음결체 */
@font-face {
font-family: "GabiaMaeumgyeol";
src: url('../Fontmoueum/Goedam/GabiaMaeumgyeol.woff2') format('woff2'); }

/* 가나초콜릿체 */
@font-face {
font-family: "Ghanachocolate";
src: url('../Fontmoueum/Goedam/Ghanachocolate.woff2') format('woff2'); }

/* 고운돋움 */
@font-face {
font-family: "GowunBatangR";
src: url('../Fontmoueum/Goedam/GowunBatangR.woff2') format('woff2'); }

/* 박물관문화재단클래식 */
@font-face {
font-family: "GungnipClassicM";
src: url('../Fontmoueum/Goedam/GungnipClassicM.woff2') format('woff2'); }

/* 경기천년바탕체 */
@font-face {
font-family: "GyeonggibatangR";
src: url('../Fontmoueum/Goedam/GyeonggibatangR.woff2') format('woff2'); }

/* 학교안심 별빛하늘 */
@font-face {
font-family: "HakgyoansimByeolB";
src: url('../Fontmoueum/Goedam/HakgyoansimByeolB.woff2') format('woff2'); }

/* 학교안심 둥근미소 */
@font-face {
font-family: "HakgyoansimDungR";
src: url('../Fontmoueum/Goedam/HakgyoansimDungR.woff2') format('woff2'); }

/* 한글재민체 */
@font-face {
font-family: "HangeulJaemin";
src: url('../Fontmoueum/Goedam/HangeulJaemin.woff2') format('woff2'); }

/* HS봄바람체3.0 */
@font-face {
font-family: "HSBombaram30R";
src: url('../Fontmoueum/Goedam/HSBombaram30R.woff2') format('woff2'); }

/* IBM Plex Sans 300 */
@font-face {
font-family: "IBMPlexSansKR300";
src: url('../Fontmoueum/Goedam/IBMPlexSansKR-M.woff2') format('woff2'); }

/* IBM Plex Sans 400 */
@font-face {
font-family: "IBMPlexSansKR400";
src: url('../Fontmoueum/Goedam/IBMPlexSansKR-M.woff2') format('woff2'); }

/* IBM Plex Sans 500 */
@font-face {
font-family: "IBMPlexSansKR500";
src: url('../Fontmoueum/Goedam/IBMPlexSansKR-M.woff2') format('woff2'); }

/* 인천교육시민체 */
@font-face {
font-family: "IncheonGyoyuksimin";
src: url('../Fontmoueum/Goedam/IncheonGyoyuksimin.woff2') format('woff2'); }

/* 정선아리랑체 */
@font-face {
font-family: "JeongseonArirang";
src: url('../Fontmoueum/Goedam/JeongseonArirang.woff2') format('woff2'); }

/* 전주완판본 각체 */
@font-face {
font-family: "JeonjuWanpanbonR";
src: url('../Fontmoueum/Goedam/JeonjuWanpanbonR.woff2') format('woff2'); }

/* 조선100년체 */
@font-face {
font-family: "Joseon100Nyeon";
src: url('../Fontmoueum/Goedam/Joseon100Nyeon.woff2') format('woff2'); }

/* 조선궁서체 */
@font-face {
font-family: "JoseonGungseo";
src: url('../Fontmoueum/Goedam/JoseonGungseo.woff2') format('woff2'); }

/* 조선신명조체 */
@font-face {
font-family: "JoseonSinmyeongjo";
src: url('../Fontmoueum/Goedam/JoseonSinmyeongjo.woff2') format('woff2'); }

/* KCC안창호체 */
@font-face {
font-family: "KCCAhnchangho";
src: url('../Fontmoueum/Goedam/KCCAhnchangho.woff2') format('woff2'); }

/* KCC임권택체 */
@font-face {
font-family: "KCCImkwontaek";
src: url('../Fontmoueum/Goedam/KCCImkwontaek.woff2') format('woff2'); }

/* KCC손기정체 */
@font-face {
font-family: "KCCSonkeechung";
src: url('../Fontmoueum/Goedam/KCCSonkeechung.woff2') format('woff2'); }

/* 김정철 손글씨 */
@font-face {
font-family: "KimjungchulScriptR";
src: url('../Fontmoueum/Goedam/KimjungchulScriptR.woff2') format('woff2'); }

/* 교보손글씨 2022 김혜남 */
@font-face {
font-family: "Kyobo2024Kimhyenam";
src: url('../Fontmoueum/Goedam/Kyobo2024Kimhyenam.woff2') format('woff2'); }

/* 마초체 */
@font-face {
font-family: "Macho";
src: url('../Fontmoueum/Goedam/Macho.woff2') format('woff2'); }

/* 마포 배낭여행 */
@font-face {
font-family: "MapoBackpacking";
src: url('../Fontmoueum/Goedam/MapoBackpacking.woff2') format('woff2'); }

/* MBC1961 */
@font-face {
font-family: "MBC1961M";
src: url('../Fontmoueum/Goedam/MBC1961M.woff2') format('woff2'); }

/* 나눔손글씨 갈맷글 */
@font-face {
font-family: "NanumGalmaetgeul";
src: url('../Fontmoueum/Goedam/NanumGalmaetgeul.woff2') format('woff2'); }

/* 나눔명조 */
@font-face {
font-family: "NanumMyeongjo";
src: url('../Fontmoueum/Goedam/NanumMyeongjo.woff2') format('woff2'); }

/* 평창체 */
@font-face {
font-family: "PyeongchangB";
src: url('../Fontmoueum/Goedam/PyeongchangB.woff2') format('woff2'); }

/* 솔뫼 김대건체 */
@font-face {
font-family: "SolmoeKimdaegeonM";
src: url('../Fontmoueum/Goedam/SolmoeKimdaegeonM.woff2') format('woff2'); }

/* 순바탕체 */
@font-face {
font-family: "SunBatangM";
src: url('../Fontmoueum/Goedam/SunBatangM.woff2') format('woff2'); }

/* 프리텐다드 고딕 300 */
@font-face {
font-family: "Pretendard300";
font-weight: 300;
src: url('../Fontmoueum/Goedam/Pretendard300.woff2') format('woff2'); }

/* 프리텐다드 고딕 400 */
@font-face {
font-family: "Pretendard400";
font-weight: 400;
src: url('../Fontmoueum/Goedam/Pretendard400.woff2') format('woff2'); }

/* 프리텐다드 고딕 500 */
@font-face {
font-family: "Pretendard500";
font-weight: 500;
src: url('../Fontmoueum/Goedam/Pretendard500.woff2') format('woff2'); }

/* 프리텐다드 고딕 700 */
@font-face {
font-family: "Pretendard700";
font-weight: 700;
src: url('../Fontmoueum/Goedam/Pretendard700.woff2') format('woff2'); }

/* 태나다체 */
@font-face {
font-family: "Tenada";
src: url('../Fontmoueum/Goedam/Tenada.woff2') format('woff2'); }

/* 땅스부대찌개 */
@font-face {
font-family: "ThangBudaejjigaeM";
src: url('../Fontmoueum/Goedam/ThangBudaejjigaeM.woff2') format('woff2'); }

/* 더잠실체 */
@font-face {
font-family: "TheJamsil4M";
src: url('../Fontmoueum/Goedam/TheJamsil4M.woff2') format('woff2'); }
