/* 괴담 폰트 모음*/
/*  */
@font-face {
font-family: "BMKkubulimR";
src: url('../Fontmoueum/Goedam/BMKkubulimR.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "ChungjuKimSaeng";
src: url('../Fontmoueum/Goedam/ChungjuKimSaeng.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "DeogonPrincess";
src: url('../Fontmoueum/Goedam/DeogonPrincess.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Sanhayeop";
src: url('../Fontmoueum/Goedam/Sanhayeop.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "DungGeunMo";
src: url('../Fontmoueum/Goedam/DungGeunMo.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Freesentation200";
src: url('../Fontmoueum/Goedam/Freesentation200.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "GabiaGosranR";
src: url('../Fontmoueum/Goedam/GabiaGosranR.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "GabiaMaeumgyeol";
src: url('../Fontmoueum/Goedam/GabiaMaeumgyeol.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Ghanachocolate";
src: url('../Fontmoueum/Goedam/Ghanachocolate.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "GowunBatangR";
src: url('../Fontmoueum/Goedam/GowunBatangR.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "GungnipClassicM";
src: url('../Fontmoueum/Goedam/GungnipClassicM.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "GyeonggibatangR";
src: url('../Fontmoueum/Goedam/GyeonggibatangR.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "HakgyoansimByeolB";
src: url('../Fontmoueum/Goedam/HakgyoansimByeolB.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "HakgyoansimDungR";
src: url('../Fontmoueum/Goedam/HakgyoansimDungR.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "HangeulJaemin";
src: url('../Fontmoueum/Goedam/HangeulJaemin.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "HSBombaram30R";
src: url('../Fontmoueum/Goedam/HSBombaram30R.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "IBMPlexSansKR-M";
src: url('../Fontmoueum/Goedam/IBMPlexSansKR-M.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "IncheonGyoyuksimin";
src: url('../Fontmoueum/Goedam/IncheonGyoyuksimin.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "JeongseonArirang";
src: url('../Fontmoueum/Goedam/JeongseonArirang.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "JeonjuWanpanbonR";
src: url('../Fontmoueum/Goedam/JeonjuWanpanbonR.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Joseon100Nyeon";
src: url('../Fontmoueum/Goedam/Joseon100Nyeon.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "JoseonGungseo";
src: url('../Fontmoueum/Goedam/JoseonGungseo.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "JoseonSinmyeongjo";
src: url('../Fontmoueum/Goedam/JoseonSinmyeongjo.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "KCCAhnchangho";
src: url('../Fontmoueum/Goedam/KCCAhnchangho.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "KCCImkwontaek";
src: url('../Fontmoueum/Goedam/KCCImkwontaek.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "KCCSonkeechung";
src: url('../Fontmoueum/Goedam/KCCSonkeechung.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "KimjungchulScriptR";
src: url('../Fontmoueum/Goedam/KimjungchulScriptR.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Kyobo2024Kimhyenam";
src: url('../Fontmoueum/Goedam/Kyobo2024Kimhyenam.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Macho";
src: url('../Fontmoueum/Goedam/Macho.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "MapoBackpacking";
src: url('../Fontmoueum/Goedam/MapoBackpacking.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "MBC1961M";
src: url('../Fontmoueum/Goedam/MBC1961M.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "NanumGalmaetgeul";
src: url('../Fontmoueum/Goedam/NanumGalmaetgeul.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "NanumMyeongjo";
src: url('../Fontmoueum/Goedam/NanumMyeongjo.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "NotoSansKR500";
src: url('../Fontmoueum/Goedam/NotoSansKR500.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "NotoSansKR700";
src: url('../Fontmoueum/Goedam/NotoSansKR700.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "PyeongchangB";
src: url('../Fontmoueum/Goedam/PyeongchangB.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "SolmoeKimdaegeonM";
src: url('../Fontmoueum/Goedam/SolmoeKimdaegeonM.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "SunBatangM";
src: url('../Fontmoueum/Goedam/SunBatangM.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Pretendard400";
src: url('../Fontmoueum/Goedam/Pretendard400.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Pretendard500";
src: url('../Fontmoueum/Goedam/Pretendard500.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Pretendard700";
src: url('../Fontmoueum/Goedam/Pretendard700.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "Tenada";
src: url('../Fontmoueum/Goedam/Tenada.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "ThangBudaejjigaeM";
src: url('../Fontmoueum/Goedam/ThangBudaejjigaeM.woff2') format('woff2'); }

/*  */
@font-face {
font-family: "TheJamsil4M";
src: url('../Fontmoueum/Goedam/TheJamsil4M.woff2') format('woff2'); }
