/* 마루부리 */
@font-face {
font-family: "MaruBuriRegular";
src: url('../Fontmoueum/Songeulssi/MaruBuriRegular.woff2') format('woff2'); }

/* 리디바탕 */
@font-face {
font-family: "RIDIBatang";
src: url('../Fontmoueum/Songeulssi/RIDIBatang.woff2') format('woff2'); }

/* 김남윤체 */
@font-face {
font-family: "KimNamyun";
src: url('../Fontmoueum/Songeulssi/KimNamyun.woff2') format('woff2'); }


/* 나눔손글씨 배은혜체 */
@font-face {
font-family: "NanumBeeunhye";
src: url('../Fontmoueum/Songeulssi/NanumBeeunhye.woff2') format('woff2'); }

/* 나눔손글씨 잘하고있어 */
@font-face {
font-family: "NanumDoingwell";
src: url('../Fontmoueum/Songeulssi/NanumDoingwell.woff2') format('woff2'); }

/* 나눔손글씨 소방관의기도 */
@font-face {
font-family: "NanumFirefighter";
src: url('../Fontmoueum/Songeulssi/NanumFirefighter.woff2') format('woff2'); }

/* 나눔손글씨 고딕아니고고딩 */
@font-face {
font-family: "NanumGothicGoding";
src: url('../Fontmoueum/Songeulssi/NanumGothicGoding.woff2') format('woff2'); }

/* 나눔손글씨 외할머니글씨 */
@font-face {
font-family: "NanumGrandma";
src: url('../Fontmoueum/Songeulssi/NanumGrandma.woff2') format('woff2'); }

/* 나눔손글씨 손편지체 */
@font-face {
font-family: "NanumHandletter";
src: url('../Fontmoueum/Songeulssi/NanumHandletter.woff2') format('woff2'); }

/* 나눔손글씨 야근하는김주임 */
@font-face {
font-family: "NanumKimjuim";
src: url('../Fontmoueum/Songeulssi/NanumKimjuim.woff2') format('woff2'); }

/* 나눔손글씨 왼손잡이도예뻐 */
@font-face {
font-family: "NanumLefthanded";
src: url('../Fontmoueum/Songeulssi/NanumLefthanded.woff2') format('woff2'); }

/* 나눔손글씨 나무정원 */
@font-face {
font-family: "NanumTreegarden";
src: url('../Fontmoueum/Songeulssi/NanumTreegarden.woff2') format('woff2'); }

/* 나눔손글씨 엉겅퀴체 */
@font-face {
font-family: "NanumUnggungqui";
src: url('../Fontmoueum/Songeulssi/NanumUnggungqui.woff2') format('woff2'); }


/* 온글잎 무궁체 */
@font-face {
font-family: "OngleipMugung";
src: url('../Fontmoueum/Songeulssi/OngleipMugung.woff2') format('woff2'); }

/* 온글잎 안될과학약체 */
@font-face {
font-family: "OngleipScienceWeak";
src: url('../Fontmoueum/Songeulssi/OngleipScienceWeak.woff2') format('woff2'); }

/* 온글잎 윤우체 */
@font-face {
font-family: "OngleipYoonwoo";
src: url('../Fontmoueum/Songeulssi/OngleipYoonwoo.woff2') format('woff2'); }


/* 어비 똘영체 */
@font-face {
font-family: "UhBeeddolyoung";
src: url('../Fontmoueum/Songeulssi/UhBeeddolyoung.woff2') format('woff2'); }

/* 어비 또요체 */
@font-face {
font-family: "UhBeeDDOYO";
src: url('../Fontmoueum/Songeulssi/UhBeeDDOYO.woff2') format('woff2'); }

/* 어비 은디체 */
@font-face {
font-family: "UhBeeeunD";
src: url('../Fontmoueum/Songeulssi/UhBeeeunD.woff2') format('woff2'); }

/* 어비 뒤죽박죽체 */
@font-face {
font-family: "UhBeeGENWOO";
src: url('../Fontmoueum/Songeulssi/UhBeeGENWOO.woff2') format('woff2'); }

/* 어비 퀸제이체 */
@font-face {
font-family: "UhBeeQUEENJ";
src: url('../Fontmoueum/Songeulssi/UhBeeQUEENJ.woff2') format('woff2'); }

/* 어비 라미체 */
@font-face {
font-family: "UhBeeRami";
src: url('../Fontmoueum/Songeulssi/UhBeeRami.woff2') format('woff2'); }

