@font-face {
font-family: "MaruBuriRegular"; /*마루부리*/
src: url('../Fontmoueum/Songeulssi/MaruBuriRegular.woff2') format('woff2'); }
@font-face {
font-family: "RIDIBatang"; /*리디바탕*/
src: url('../Fontmoueum/Songeulssi/RIDIBatang.woff2') format('woff2'); }
@font-face {
font-family: "KimNamyun"; /*김남윤체*/
src: url('../Fontmoueum/Songeulssi/KimNamyun.woff2') format('woff2'); }


@font-face {
font-family: "NanumBeeunhye"; /*나눔손글씨 배은혜체*/
src: url('../Fontmoueum/Songeulssi/NanumBeeunhye.woff2') format('woff2'); }
@font-face {
font-family: "NanumDoingwell"; /*나눔손글씨 잘하고있어*/
src: url('../Fontmoueum/Songeulssi/NanumDoingwell.woff2') format('woff2'); }
@font-face {
font-family: "NanumFirefighter"; /*나눔손글씨 소방관의기도*/
src: url('../Fontmoueum/Songeulssi/NanumFirefighter.woff2') format('woff2'); }
@font-face {
font-family: "NanumGothicGoding"; /*나눔손글씨 고딕아니고고딩*/
src: url('../Fontmoueum/Songeulssi/NanumGothicGoding.woff2') format('woff2'); }
@font-face {
font-family: "NanumGrandma"; /*나눔손글씨 외할머니글씨*/
src: url('../Fontmoueum/Songeulssi/NanumGrandma.woff2') format('woff2'); }
@font-face {
font-family: "NanumHandletter"; /*나눔손글씨 손편지체*/
src: url('../Fontmoueum/Songeulssi/NanumHandletter.woff2') format('woff2'); }
@font-face {
font-family: "NanumKimjuim"; /*나눔손글씨 야근하는김주임*/
src: url('../Fontmoueum/Songeulssi/NanumKimjuim.woff2') format('woff2'); }
@font-face {
font-family: "NanumLefthanded"; /*나눔손글씨 왼손잡이도예뻐*/
src: url('../Fontmoueum/Songeulssi/NanumLefthanded.woff2') format('woff2'); }
@font-face {
font-family: "NanumTreegarden"; /*나눔손글씨 나무정원*/
src: url('../Fontmoueum/Songeulssi/NanumTreegarden.woff2') format('woff2'); }
@font-face {
font-family: "NanumUnggungqui"; /*나눔손글씨 엉겅퀴체*/
src: url('../Fontmoueum/Songeulssi/NanumUnggungqui.woff2') format('woff2'); }


@font-face {
font-family: "OngleipYoonwoo"; /*온글잎 윤우체*/
src: url('../Fontmoueum/Songeulssi/OngleipYoonwoo.woff2') format('woff2'); }
@font-face {
font-family: "OngleipMugung"; /*온글잎 무궁체*/
src: url('../Fontmoueum/Songeulssi/OngleipMugung.woff2') format('woff2'); }
@font-face {
font-family: "OngleipScienceWeak"; /*온글잎 안될과학약체*/
src: url('../Fontmoueum/Songeulssi/OngleipScienceWeak.woff2') format('woff2'); }


@font-face {
font-family: "UhBeeddolyoung"; /*어비 똘영체*/
src: url('../Fontmoueum/Songeulssi/UhBeeddolyoung.woff2') format('woff2'); }
@font-face {
font-family: "UhBeeDDOYO"; /*어비 또요체*/
src: url('../Fontmoueum/Songeulssi/UhBeeDDOYO.woff2') format('woff2'); }
@font-face {
font-family: "UhBeeeunD"; /*어비 은디체*/
src: url('../Fontmoueum/Songeulssi/UhBeeeunD.woff2') format('woff2'); }
@font-face {
font-family: "UhBeeGENWOO"; /*어비 뒤죽박죽체*/
src: url('../Fontmoueum/Songeulssi/UhBeeGENWOO.woff2') format('woff2'); }
@font-face {
font-family: "UhBeeQUEENJ"; /*어비 퀸제이체*/
src: url('../Fontmoueum/Songeulssi/UhBeeQUEENJ.woff2') format('woff2'); }
@font-face {
font-family: "UhBeeRami"; /*어비 라미체*/
src: url('../Fontmoueum/Songeulssi/UhBeeRami.woff2') format('woff2'); }
