/*

/* 코펍 바탕 */
font-family: "KoBatang", serif;

/* 바탕 */
font-family: "MaruBuriRegular"; /*마루부리*/
font-family: "RIDIBatang"; /*리디바탕*/

/* 나눔 바른 고딕 */
font-family: "NanumBarun", sans-serif;
font-family: "NanumBarunL", sans-serif;
font-family: "NanumBarunB", sans-serif;

/* 나눔 바른 고딕 옛한글 */
.font-family: "NanumBarunYH", sans-serif;

/* 나눔 고딕 */
font-family: "NanumGothic", sans-serif;
font-family: "NanumGothicB", sans-serif;


/*손글씨*/
font-family: "KimNamyun"; /*김남윤*/

font-family: "NanumTreegarden"; /*나눔 나무정원*/
font-family: "NanumKimjuim"; /*나눔 야근김주임*/
font-family: "NanumGrandma"; /*나눔 외할머니*/
font-family: "NanumFirefighter"; /*나눔 소방관의기도*/
font-family: "NanumUnggungqui"; /*나눔 엉겅퀴*/
font-family: "NanumHandletter"; /*나눔 손편지*/
font-family: "NanumLefthanded"; /*나눔 왼손잡이*/
font-family: "NanumDoingwell"; /*나눔 잘하고있어*/
font-family: "NanumBeeunhye"; /*나눔 배은혜*/
font-family: "NanumGothicGoding"; /*나눔 고딕고딩*/

font-family: "OngleipMugung"; /*온글잎 무궁*/
font-family: "OngleipScienceWeak"; /*온글잎 안될과학약*/
font-family: "OngleipYoonwoo"; /*온글잎 윤우*/

font-family: "UhBeeddolyoung"; /*어비 똘영*/
font-family: "UhBeeDDOYO"; /*어비 또요*/
font-family: "UhBeeeunD"; /*어비 은디*/
font-family: "UhBeeGENWOO"; /*어비 뒤죽박죽*/
font-family: "UhBeeQUEENJ"; /*어비 퀸제이*/
font-family: "UhBeeRami"; /*어비 라미*/
font-family: "YoonDaeHan"; /*윤초록우산어린이 대한*/


/* 괴담 폰트 모음*/
font-family: "HSBombaram30R"; /*HS봄바람*/
font-family: "IBMPlexSansKR300"; /*IBM Plex*/
font-family: "IBMPlexSansKR400"; /*IBM Plex*/
font-family: "IBMPlexSansKR500"; /*IBM Plex*/
font-family: "KCCAhnchangho"; /*KCC안창호*/
font-family: "KCCImkwontaek"; /*KCC임권택*/
font-family: "KCCSonkeechung"; /*KCC손기정*/
font-family: "MBC1961M"; /*MBC1961*/
font-family: "Ghanachocolate"; /*가나초콜릿*/
font-family: "GabiaGosranR"; /*가비아 고스란*/
font-family: "GabiaMaeumgyeol"; /*가비아 마음결*/
font-family: "GabiaCheongyeon"; /* 가비아 청연체 */
font-family: "GowunBatangR"; /*고운돋움*/
font-family: "GyeonggibatangR"; /*경기천년바탕*/
font-family: "Kyobo2024Kimhyenam"; /*교보 김혜남*/
font-family: "KimjungchulScriptR"; /*김정철 손글씨*/
font-family: "NanumMyeongjo"; /*나눔명조*/
font-family: "NanumGalmaetgeul"; /*나눔 갈맷글*/
font-family: "DeogonPrincess"; /*덕온공주옛*/
font-family: "TheJamsil4M"; /*더잠실*/
font-family: "ThangBudaejjigaeM"; /*땅스부대찌개*/
font-family: "DungGeunMo"; /*둥근모꼴 픽셀*/
font-family: "MapoBackpacking"; /*마포 배낭여행*/
font-family: "Macho"; /*마초*/
font-family: "Mannyeonseol"; /*만년설체*/
font-family: "GungnipClassicM"; /*박물관클래식*/
font-family: "BMKkubulimR"; /*배달민족 꾸불림*/
font-family: "NotoSansKR-Light"; /*본고딕300*/
font-family: "NotoSansKR-Regular"; /*본고딕400*/
font-family: "NotoSansKR-Medium"; /*본고딕500*/
font-family: "Sanhayeop"; /*산하엽*/
font-family: "SolmoeKimdaegeonM"; /*솔뫼 김대건*/
font-family: "SunBatangL"; /*순바탕L*/
font-family: "SunBatangM"; /*순바탕M*/
font-family: "Suite-Regular"; /*스위트*/
font-family: "IncheonGyoyuksimin"; /*인천교육시민*/
font-family: "JeongseonArirang"; /*정선아리랑*/
font-family: "JeonjuWanpanbonR"; /*전주완판본*/
font-family: "Joseon100Nyeon"; /*조선100년*/
font-family: "JoseonGungseo"; /*조선궁서*/
font-family: "JoseonSinmyeongjo"; /*조선신명조*/
font-family: "ChungjuKimSaeng"; /*충주김생*/
font-family: "PyeongchangB"; /*평창*/
font-family: "Freesentation200"; font-weight: 200; /*프리젠테이션*/
font-family: "Pretendard300"; /*프리텐다드*/
font-family: "Pretendard400"; /*프리텐다드*/
font-family: "Pretendard500"; /*프리텐다드*/
font-family: "Tenada"; /*태나다*/
font-family: "HakgyoansimByeolB"; /*학교안심 별빛하늘*/
font-family: "HakgyoansimDungR"; /*학교안심 둥근미소*/
font-family: "HangeulJaemin"; /*한글재민*/


/* 바탕 */
font-family: "MaruBuriRegular"; /*마루부리*/
font-family: "RIDIBatang"; /*리디바탕*/


*/
