@import url("https://ghtlt8460.github.io/namnomin102/css/godikbatang.css");

/* 코펍 바탕 */
{ font-family: "KoPubBatang", serif; }

/* 나눔 바른 고딕 */
{ font-family: "NanumBarunGothic", sans-serif; }
{ font-family: "NanumBarunGothicBold", sans-serif; }
{ font-family: "NanumBarunGothicLight", sans-serif; }

/* 나눔 바른 고딕 옛한글 */
.{ font-family: "NanumBarunGothicYH", sans-serif; }

/* 나눔 고딕 */
{ font-family: "NanumGothic", sans-serif; }
{ font-family: "NanumGothicBold", sans-serif; }
