/*손글씨*/
. { font-family: "MaruBuriRegular"; /*마루부리*/ }
. { font-family: "RIDIBatang"; /*리디바탕*/ }
. { font-family: "KimNamyun"; /*김남윤체*/ }

. { font-family: "NanumBeeunhye"; /*나눔손글씨 배은혜체*/ }
. { font-family: "NanumDoingwell"; /*나눔손글씨 잘하고있어*/ }
. { font-family: "NanumFirefighter"; /*나눔손글씨 소방관의기도*/ }
. { font-family: "NanumGothicGoding"; /*나눔손글씨 고딕아니고고딩*/ }
. { font-family: "NanumGrandma"; /*나눔손글씨 외할머니글씨*/ }
. { font-family: "NanumHandletter"; /*나눔손글씨 손편지체*/ }
. { font-family: "NanumKimjuim"; /*나눔손글씨 야근하는김주임*/ }
. { font-family: "NanumLefthanded"; /*나눔손글씨 왼손잡이도예뻐*/ }
. { font-family: "NanumTreegarden"; /*나눔손글씨 나무정원*/ }
. { font-family: "NanumUnggungqui"; /*나눔손글씨 엉겅퀴체*/ }

. { font-family: "OngleipYoonwoo"; /*온글잎 윤우체*/ }
. { font-family: "OngleipMugung"; /*온글잎 무궁체*/ }
. { font-family: "OngleipScienceWeak"; /*온글잎 안될과학약체*/ }

. { font-family: "UhBeeddolyoung"; /*어비 똘영체*/ }
. { font-family: "UhBeeDDOYO"; /*어비 또요체*/ }
. { font-family: "UhBeeeunD"; /*어비 은디체*/ }
. { font-family: "UhBeeGENWOO"; /*어비 뒤죽박죽체*/ }
. { font-family: "UhBeeQUEENJ"; /*어비 퀸제이체*/ }
. { font-family: "UhBeeRami"; /*어비 라미체*/ }

